footer{
    height: 50px;
    width: 20rem;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 50;
    display: inline-flex;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;
    /* background-image: #fff; */
}
.item{
    flex: 1;
    text-align: center;
    background-image: #fff;
    
}
.nav-icon{
    height: 27px;
    line-height: 31px;
    font-size: .75rem;    
}
.nav-item{
    text-align: center;
    font-size: .75rem;
    /* font-weight: 600; */
}
.color-red{
    color: red;
}
