#root{
    height:100%;
    width: 20rem;
    margin: 0 auto;
}
body{
    position: relative;
}
.App{
    padding: 0;
    background-color: #f3f3f3;
    /* overflow-y: auto; */
    overflow-x: hidden;
    margin: auto;
    height: 100%;
    width: 20rem;    

}

.defaultBackgroud{
    background-color: #fff;
}
.boxSize{
    box-sizing: border-box;
}
.input {

}
div{
    -webkit-overflow-scrolling: touch;
}